[submodule "web"]
	path = web
	url = https://github.com/mlop-ai/web.git
[submodule "py"]
	path = py
	url = https://github.com/mlop-ai/py.git
[submodule "ingest"]
	path = ingest
	url = https://github.com/mlop-ai/ingest.git
